.container {
  border: 2px solid black;
  border-radius: 8px;
  width: 100%;
  text-align: center;
  width: 280px;
  margin: 0 auto;
  background-color: rgb(249, 248, 248);
}

.containerUserInfo {
  padding: 12px;
}

.img {
  border: none;
  border-radius: 50%;
  width: 160px;
  height: 160px;
  background-color: black;
}

.name {
  font-size: 26px;
  font-weight: 700;
  line-height: 1.5;
  margin: 8px;
}

.tag {
  font-size: 20px;
  line-height: 1.5;
  margin: 4px;
  color: gray;
}

.location {
  font-size: 20px;
  line-height: 1.5;
  margin: 4px;
  color: gray;
}

.list {
  box-sizing: border-box;
  width: 100%;
  padding: 0;
  margin: 0;

  list-style: none;
  display: inline-flex;

  font-size: 18px;
}

.stats {
  display: inline-block;
  padding: 4px;
  border: 1.5px solid rgb(68, 68, 68);
  background-color: rgb(203, 201, 201);
  width: 100%;
}

.stats:last-child {
  border-end-end-radius: 7px;
}

.stats:first-child {
  border-end-start-radius: 7px;
}

p {
  margin: 4px;
}

.statsNumbers {
  font-weight: 700;
}
